[Unit]
Description=Woodpecker CI server
After=postgres.service redis.service gitea.service
Requires=postgres.service

[Container]
Image=docker.io/woodpeckerci/woodpecker-server:v3
ContainerName=woodpecker-server
Network=lab-net.network
PublishPort=8000:8000
PublishPort=9002:9000
Volume=%h/.local/share/podman-lab/woodpecker:/var/lib/woodpecker:Z
Environment=WOODPECKER_OPEN=false
Environment=WOODPECKER_HOST=https://ci.__DOMAIN__
Environment=WOODPECKER_GITEA=true
Environment=WOODPECKER_GITEA_URL=https://git.__DOMAIN__
EnvironmentFile=%h/.local/share/podman-lab/secrets.env

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
